<div class="footer">
    <div class="container footer">
        <p>
            <a href="http://www.icapitalnetwork.com">www.icapitalnetwork.com</a> is a website operated by Institutional
            Capital Network, Inc. (together with its affiliates, &ldquo;iCapital&rdquo;).
            iCapital Securities, LLC, a subsidiary of Institutional Capital Network, Inc., is a member of
            <a href="http://www.finra.org" target="_blank">FINRA</a>/<a href="http://www.sipc.org"
                                                                        target="_blank">SIPC</a>.
            Details on a broker&rsquo;s background and qualifications are available for free on FINRA&rsquo;s
            <a href="http://brokercheck.finra.org/Search/Search" target="_blank">BrokerCheck</a> website.
        </p>

        <p>
            By accessing this website, you agree to be bound by its Privacy Policy and Terms of Service. The information
            on
            this website does not constitute an offer to sell, a solicitation of an offer to purchase or a
            recommendation of
            any interest in any fund or security described herein. Any such offer or solicitation shall be made only
            pursuant
            to the final confidential offering documents of any fund described on this website, which will contain
            information
            about each fund&rsquo;s investment objectives and terms and conditions of an investment and may also
            describe
            certain risks and tax information related to an investment therein and which qualifies in its entirety the
            information set forth herein.
        </p>

        <p>
            All of the products described on this website, including any products made available to clients of iCapital,
            are
            private placements that are sold only to qualified clients of iCapital through transactions that are exempt
            from
            registration under the Securities Act of 1933 pursuant to Rule 506(b) of Regulation D promulgated thereunder
            (&ldquo;Private Placements&rdquo;). An investment in any product issued pursuant to a Private Placement,
            such as the funds
            described on this website, entails a high degree of risk and no assurance can be given that any alternative
            investment fund&rsquo;s investment objectives will be achieved or that investors will receive a return of
            their
            capital. Further, such investments are not subject to the same levels of regulatory scrutiny as publicly
            listed
            investments, and as a result, investors may have access to significantly less information than they can
            access
            with respect to publicly listed investments. Prospective investors should also note that investments in the
            products described on the website involve long lock-ups and do not provide investors with liquidity.
        </p>

        <div class="footer__links">
            <a href="{{relative_root}}/privacy_policy.html">Privacy Policy</a>

            <a href="https://s3.amazonaws.com/icn-compliance/BContinuity_120115_A.pdf">Business Continuity Statement</a>

            <a href="{{relative_root}}/terms_of_use.html">Terms Of Use</a>

            <span>&copy; iCapital Network {{formatDate date "%Y"}}</span>
        </div>
    </div>
</div>
