<header>
	<div class="container">
		<div class="header__container">
		<div class="header__logo-container">
			<img class="header__logo" src="images/logo.png">
			<span class="header__title">
				Designs By Eden Lew
			</span>
		</div>
		<div class="header__links">
			<span class="header__blog">
				Blog
			</span>
			<span class="header__about">
				About
			</span>
		</div>
		</div>
	</div>
</header>
