<header>
	<div class="container">
		<div class="header__container">
		<a href="{{ relative_root }}/home.html">
			<div class="header__logo-container">
					<img class="header__logo" src="images/logo.png">
					<span class="header__title">
						Designs By Eden Lew
					</span>
			</div>
		</a>
		<div class="header__links">
			<span class="header__blog">
				<a target="_blank" href="http://edenyc.tumblr.com/">Blog</a>
			</span>
			<span class="header__about">
				<a href="{{ relative_root }}/eden.html">About</a>
			</span>
		</div>
		</div>
	</div>
</header>
