$large-breakpoint: 1264px;
$medium-breakpoint: 1250px;
$small-breakpoint: 859px;

$mini-medium-breakpoint: 960px;
$mini-small-breakpoint: 656px;

$box-height: 320px;
$mini-box-height: 250px;
$box-margin: 8px;
$box-column-width: (1200 - (2 * 16px)) / 3;

.box {
	margin: $box-margin;

	flex: 1 0 0;
	min-width: $box-column-width; 
	display: flex;
	position: relative;
	cursor: pointer;
	overflow: hidden;

	height: $box-height;

	// Fix for div height to match img height
	a {
		display: flex;
		flex-flow: column nowrap;
		z-index: 1001;

		// Overlay black opacity
		&::before {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.3;
			background: #000000;
			content: '';
		}
	}

	&:hover {
		a::before {
			opacity: 0;
		}

		.box__title {
			display: none;
		}

		.box__sub-title {
			display: none;
		}
	}


	&__title {
		position: absolute;
		font-family: 'Athelas W01 Bold';
		-webkit-font-smoothing: antialiased;
		font-size: 34px;
		color: #FFFFFF;
		width: 100%;
		padding: 31px 43px;
		top: 0;
		left: 0;

		// horizontal line between title and subtitle
		&::after {
			position: absolute;
			background: #FFFFFF;
			content: '';
			left: 41px;;
			bottom: 5px;
			width: 35px;
			height: 3px;
		}
	}

	&__sub-title {
		font-family: 'Avenir LT W01_35 Light', arial, sans-serif;
		font-size: 16px;
		position: absolute;
		color: #FFFFFF;

		display: flex;
		align-items: flex-start;

		p {
			margin-top: 37px;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.box--mini {
	@extend .box;

	min-width: (1200 - (3 * 16px)) / 4;
    height: $mini-box-height;

	.box__title {
		font-size: 25px;
		padding: 0;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		text-align: center;

		&::after {
			display: none;
		}
	}
}
