$half-page-width: (1200 - 2*$box-margin) / 2;
$page-container-width: 1200 - $box-column-width;
$page-container-margin: $box-column-width / 2;
$page-text-width: 665px;
$page-skinny-text-width: 455px;
$page-mini-text-width: 435px;
$page-headline-width: 685px;

.page {
    &__container {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto; 
        max-width: $page-container-width;
        position: relative;
    }

    &__container--full {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__container--spaced {
       @extend .page__container;
       justify-content: space-between;
       margin-bottom: 87px;
    }

    &__container--centered {
       @extend .page__container;
       justify-content: center;
    }

    &__header {
        @extend .page__container;
        flex-flow: column nowrap;
        padding: 90px 0 75px;
    }

    &__title {
        font-family: 'Athelas w01 Bold', serif;
        font-size: 51px;
    }

    &__subtitle {
        font-size: 19px;
    }

    &__text {
        max-width: $page-text-width;
        margin: 42px auto 36px;
        line-height: 1.5;
    }

    &__text-with-sidebar {
        @extend .page__text;
        max-width: $page-skinny-text-width;
        margin: 0;
    }

    &__text--mini {
        @extend .page__text;
        max-width: $page-mini-text-width;
        margin: 0 auto 47px;
    }

    &__sidebar {
        position: absolute;
        width: $box-column-width;
        height: 100%;
        right: - $box-column-width / 2;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: center;
    }

    &__sidebar-container {
        min-height: 490px;
        display: flex;
        align-items: center;
    }

    &__item--half {
        flex: 0 0 $box-column-width / 2; 
        margin: 18px 0;
    }

    &__item-subtitle {
        font-size: 11px;
        padding-top: 10px;
    }

    &__item--bottom {
        align-self: flex-end;
    }

    &__headline {
        font-family: 'Athelas w01 Bold', serif;
        font-size: 33px;
        margin: 70px auto 54px;
        max-width: $page-headline-width;
        text-align: center;
    }

    &__step-text {
        height: 100%;
        max-width: 460px;
        margin: 0 auto;
        font-family: 'Athelas w01 Bold', serif;
        font-size: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__column {
        flex: 0 0 $box-column-width;
        display: flex;
        align-items: center;
    }

    &__column--centered {
        @extend .page__column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__half-column {
        flex: 0 0 $box-column-width / 2;
    }

    &__wide-column {
        flex: 0 0 $half-page-width;
    }

    &__footnote {
        margin: 73px auto;
    }

    // Use a wrapper div on images because page__container is a flexbox
    &__image {
        img {
            width: 100%;
        }
    }
    &__image--sidebar {
        img {
            width: 97px;
        }
    }
    &__image--third {
        img {
            width: 390px;
        }
    }
    &__image--flipped-third {
        img {
            width: 260px;
        }
    }
    &__image--mini {
        img {
            width: 145px;
        }
    }
    &__image--half {
        img {
            width: 592px;
        }
    }
    &__image--natural{
        img {
            max-width: 100%;
        }
    }

    &__fake {
        background: black;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }
}
