.person {
  margin: $site-margin;
  min-width: 160px;
  flex: 1 0 160px;

  a {
    @include cancel-default-link();
  }

  img {
    width: 100%;
  }

  &__name {
    color: #20ABEB;
    font-family: ProximaNova-Light;
    font-size: 22px;
    letter-spacing: -0.7px;

    margin: 10px 0 3px;
  }

  &__title {
    color: #8BA7B9;
    font-family: ProximaNova-Light;
    font-size: 14px;

    margin: 0;
  }
}