html, body {
  font-family: 'Avenir LT W01_35 Light', arial, sans-serif;
  overflow-x: hidden;
  position: relative; // Required for overflow-x on iOS
  height: 100%; // Fix for nav on iOS
}

div {
	box-sizing: border-box;
}
