<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <!-- build:js({{ root }}/assets/javascripts) ../javascripts/collection.js -->
    <script async type="text/javascript" src="vendor/jquery-2.2.0.min.js"></script>
    <script async type="text/javascript" src="vendor/jquery.mobile.custom.min.js"></script>
    <script async type="text/javascript" src="vendor/TweenLite.min.js"></script>
    <script async type="text/javascript" src="vendor/CSSPlugin.min.js"></script>
    <script async type="text/javascript" src="site.js"></script>
    <script async type="text/javascript" src="collection.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>
{{> nav relative_root='..'}}
<section class="body">
    {% body %}
</section>
{{> footer relative_root='..'}}
</body>
</html>
