---
layout: default.hbs
---
<div class="alo">
	<div class="container">
		<div class="page__header">
			<div class="page__title">ALO</div>
			<div class="page__subtitle">With Souvik Paul, Somin Heo and Sunyoung Na<br>Smart Objects with Pepin Gelardi and Ted Ullrich, Spring 2015</div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/alo/01_alo_mid.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				Alo is a secret sharing locket that allows users to share secrets with up to three friends.
				The Alo locket splits into a Lock and Key portion, and the color of each locket is idiosyncratic
				to the user. Locks stay with the user and are directly attached to the necklace chain; Keys can be
				swapped between friends. By lifting the Alo locket to their mouth, users activate recording mode
				and the light of their locket begins to blink; by lowering the locket, they exit it and record a secret.
				By twisting their locket counter clockwise and back after recording, they can load the secret into their
				Key. They can share Keys with secrets in them with a select group of 3 friends, each of whom must mutually
				register the secret sharer as a trusted friend in the Alo database. By making the circle of friends
				exclusive to three other users, the Alo social structure ensures that users build tight bonds with one
				another, and form lasting, trusting friendships within their social circles.
			</p>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/alo/02_alo_duo.jpg"></div>
			<div class="page__image--half"><img src="images/alo/03_alo_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				Alo began as a brief to design a smart object to combat social anxiety. To start the design process,
				our team thoroughly researched social anxiety in the context of technology. Hoping to specifically
				combat the practice of telecocooning, archetypically exemplified by a group of friends out to dinner,
				all on their phones and ignoring one another, our team set out to design a technological product
				whose use-case encouraged social interactions instead of competing with them. Early prototypes explored
				highly speculative ideas&mdash;from a portable, glove-mounted electromagnet that could force users off
				their phones by rendering them unusable, to a smart pet rock whose sensor-laden ergonomic surface could
				provide users with quantified self-style data dashboards that measured their anxiety at different times
				in the day.
			</p>
		</div>
		<div class="page__container--full">
				<div class="page__image--third"><img src="images/alo/04_alo_trio.jpg"></div>
				<div class="page__image--third"><img src="images/alo/05_alo_trio.jpg"></div>
				<div class="page__image--third"><img src="images/alo/06_alo_trio.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				In reflecting on social interactions, we realized that friendships and social connections are based on a
				sort of exchange between individuals. Whether it is time, trust or gifts, friends who truly care about each
				other are selfless in the context of friendship. We designed Alo to physicalize that metaphorical exchange.
				We wanted to compel friends to have in-person interactions, which is why secrets need to be physically
				handed to friends in the form of a gift, and can&rsquo;t be sent via an app. Deleting the secrets after
				they were listened to at once borrowed conceptually from Snapchat, already a popular platform among our
				target demographic, but also imbued the secret with a preciousness that emphasized the meaning of the 
				in-person exchange of secrets.
			</p>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/alo/07_alo_duo.jpg"></div>
			<div class="page__image--half"><img src="images/alo/08_alo_duo.jpg"></div>
		</div>
	</div>
</div>
