---
layout: default.hbs
---
<div class="crime-tools">
<div class="container">
    <div class="page__header">
        <div class="page__title">Dystopian<br>Crime Tools</div> 
        <div class="page__subtitle">3D Product Design with Sinclair Smith, Spring 2016</div>
    </div>
    <div class="page__container">
        <div class="page__fake" style="width: 100%; height: 450px;">Pansa</div>
    </div>
    <div class="page__text crime-tools__description">
        <p>
            As part of an exercise in a product design course with Sinclair Scott
            Smith, I was challenged to imaginge a utopia or dystopia based on my
            thesis and to create a newspaper front page and advertisement from
            that world.
        </p>
    </div>
    <div class="page__container">
        <div class="page__fake" style="width: 100%; height: 450px;">newspaper</div>
    </div>
    <div class="page__text crime-tools__newspaper">
        <p>
            My newspaper showed a world in chaos where everyone was some kind
            of criminal. Designers break out of prison and plot schemes against
            corrupt government. The stories and advertisements of the newspaper
            hinted towards a world divided by money and run by crime. I wrote
            stories about the manipulation of the US Constitution and apocalyptic 
            environments changed by the dying climate. Even the classified
            advertisements showcase an obvious black market.
        </p>
    </div>
    <div class="page__container--full">
        <div class="page__fake" style="width: 592px; height: 450px;">crime tool 1</div>
        <div class="page__fake" style="width: 592px; height: 450px;">crime tool 1</div>
        <div class="page__fake" style="width: 592px; height: 450px;">crime tool 1</div>
        <div class="page__fake" style="width: 592px; height: 450px;">crime tool 1</div>
    </div>
    <div class="page__text crime-tools__weapons">
        <p>
            Because the story consisted of a world where everyone was a criminal,
            I began to think about the type of products in the market. Since most
            criminal intention is about obtaining wealth through unethical
            practices, I wondered what couture brands might sell to high class
            criminals. Instead of selling shoes, handbags and jewelry, I designed
            weapons of crime through the lens of couture design. First there is
            the Prada Security Camera. High class criminals could flaunt their
            monitoring systems in their homes with glamour. Then I designed a
            Louis Vuitton knife as an aggressive accessory to carry around on
            daily commutes. I also thought about a Fendi gun and a Coco Chanel
            grenade as a way to embellish these violent tools. These tools begin
            to paint a hauntingly luxurious picture of a dystopia divided by
            class, corruption and anger.
        </p>
    </div>
    <div class="page__container">
        <div class="page__fake" style="width: 100%; height: 450px;">LV knife open and side</div>
        <div class="page__fake" style="width: 100%; height: 450px;">prade</div>
    </div>
    <div class="page__container--centered">
        <div class="page__fake" style="width: 580px; height: 325px;">pansa shooting process</div>
    </div>
</div>
</div>
