---
layout: default
---
<div class="eden">
	<div class="container">
        <div class="page__header">
            <div class="page__title">Eden Lew</div>
            <div class="page__subtitle">An Interdisciplinary Designer</div>
        </div>
        <div>
            <div class="page__container">
                <div class="page__image">
                    <img src="images/eden/1_aboutme_mid.jpg">
                </div>
            </div>
        </div>
        <div class="page__text">
            <p>
                Eden is a designer from Texas with a broad body of work consisting
                of graphic design, UX/UI, packaging, furniture, architecture,
                exhibition design and design strategy. Armed with a BFA Design
                degree from The University of Texas at Austin, she moved to New
                York to immerse herself in the opportunities the city has to offer.
                In this era of new technologies such as 3-D printing, Arduinos and
                online learning tools, Eden believes that design education should
                become more accessible to the masses. She sees new products as
                platforms for society to mold innovation and change. In the spring
                of 2016, Eden graduated from the School of Visual Arts with a
                Masters in Products of Design, after completing a thesis on
                criminal masterminds.
            </p>
        </div>
	</div>
</div>
