---
layout: default.hbs
---
<div class="eggs">
	<div class="container">
		<div class="page__header">
			<div class="page__title">70 Days of Eggs</div>
			<div class="page__subtitle"></div>
		</div>
		<div class="page__text">
			<p>
				As a design student, I always feel that projects make me too busy for
				family, friends and breakfast. When the opportunity came for me to create
				a 70 day iterative experiment, I thought I would try to start changing
				myself by making time to cook breakfast every morning. Thinking it'd be
				easy, I decided to cook an egg differently every day. After the common
				fried, hardboiled, and over-easy options I had to find new methods of
				cooking, but by day 20, I was out of ideas. I gave up trying to make eggs
				edible and sought out ways of manipulating its physical form.
				Instead of going online to find recipes, I asked family and friends for
				ideas of how I could generate interesting physical forms from an egg. By
				inviting others to take part in my experiment, I gained inspiration from
				the variety of cultural backgrounds and creative resources of the people
				around me. My project taught me that I alone can only achieve so much but
				a collective imagination can grant access to great ideas.
			</p>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/eggs/01_egg.jpg"></div>
			<div class="page__image"><img src="images/eggs/02_egg.jpg"></div>
			<div class="page__image"><img src="images/eggs/03_egg.jpg"></div>
			<div class="page__image"><img src="images/eggs/04_egg.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/eggs/07_egg_duo.jpg"></div>
			<div class="page__image--half"><img src="images/eggs/08_egg_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				The highlight was taking my eggs to a biology lab. A friend suggested we
				crack eggs into liquid nitrogen. As soon as we hit the lab, more biology
				majors added their own ideas. We spun eggs in a centrifuge, added
				carcinogens to eggs in petri dishes, and set fire to an egg on the
				fireproof table with ethanol and a flame.
				To be honest, my ideas of manipulating eggs ended at day 15. Instead of
				going online to find recipes, I asked family and friends for ideas of how
				I could generate interesting physical forms from an egg. By inviting
				others to take part in my experiment, I gained inspiration from the
				variety of cultural backgrounds and creative resources of the people
				around me. This project became an illustration in how designers can
				facilitate a collective imagination.
			</p>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/eggs/05_egg_duo.jpg"></div>
			<div class="page__image--half"><img src="images/eggs/06_egg_duo.jpg"></div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/eggs/09_egg_mid.jpg"></div>
		</div>
		<div class="page__container">
			<div class="page__footnote">With special thanks to Jett Butler and all participants of the project.</div>
		</div>
	</div>
</div>
