---
layout: default.hbs
---
<div class="fugly-pickles">
	<div class="container">
		<div class="page__header">
			<div class="page__title">Fugly Pickles</div>
			</div class="page__subtitle"></div>
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div class="page__text">
			<p>
				Fugly Pickles is an enterprise created by second-year designers Eden Lew,
				Jon Lung, Ziyun Qi and Roya Ramezani aimed at reducing greenhouse gas
				emissions by removing &ldquo;perfectly edible&rdquo; discarded food from
				landfills&mdash;which contribute 16% of U.S. methane emissions a year. As part
				of a Lifecycle and Stakeholder Management Theory business course, taught
				by Rebecca Silver and Jen van der Meer, team Fugly Pickles was initially
				interested in the California drought and the potential for related food
				shortages across the nation. During their research phase, they learned
				that billions of tons of food are wasted yearly, and that the rotting food
				in landfills contributes to a significant amount of yearly greenhouse gas
				emissions.
				Further research revealed that much of this food waste is avoidable: there
				is a host of healthy fruits and vegetables being tossed out due to their
				aesthetic qualities. &ldquo;People toss out food that doesn&rsquo;t &lsquo;look perfect&rsquo;,&rdquo;
				argued Qi. &ldquo;In fact, people don&rsquo;t even pick it at the point of purchase.
				We knew that this &lsquo;ugly food&rsquo; had huge potential, and looked towards
				pickling and preservation as ways of rescuing and extending its life.&rdquo;
				Interviews with farmers at New York&rsquo;s acclaimed Green Market&mdash;along with
				farm-to-table caterers, and food activists&mdash;bore out the day-to-day
				reality. A representative from Keith&rsquo;s Organic Farms revealed that &ldqup;any
				produce we have left over at the end of the day, we give to City
				Harvest&mdash;and that&rsquo;s about $100-$200 worth. But the amount of food that&rsquo;s
				still left on the farm is a lot. We try to eat as much as we can, and most
				of our compost is made up of edible food.&rdquo; He added, &ldquo;pickling and
				preserving is a project on its own,&rdquo; so the students took on the challenge
				of designing a business for pickling and preserving wasted food.
			</p>
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div class="page__text">
			<p>
				Fugly Pickles would have to begin with a gleaning service to collect the
				leftover produce from industrial organic farms. The team called up farmers
				to collect various prices that they would be willing to charge for their
				ugly fruits and vegetables. Planning out the business was multi
				-tendrilled: Fugly Pickles would have to begin with a gleaning service to
				collect the leftover produce from industrial organic farms&mdash;the team called
				up farmers to collect various prices that they would be willing to charge
				for their ugly fruits and vegetables. Moving toward in-house pickling food
				preparation and distribution necessitated further research into permits,
				food preparation protocols, industrial kitchen locations and fees,
				machinery costs, storage, truck rentals, driver wages, advertising costs.
				Only then could the team get a comprehensive view of what such a business
				would entail and how any growth predictions could be made with reasonable
				assumptions.
				Many other key points were researched and combined into a business plan as
				well as business growth predictions. Combining this business research with
				their climate change research, the team estimated the potential for Fugly
				Pickles to impact global warming by calculating the amount of greenhouse
				gas emissions saved from pickling the estimated amount of ugly fruits and
				vegetables Fugly Pickles could sell. Finessing the brand came next: Both
				the brand identity and the actual “pickling recipes” were developed
				simultaneously in order to create realistic, fully-functioning prototypes
				for more advanced market research resulting in fully functioning
				prototypes, packaging and campaign concepts. By furthering the Ugly Foods
				movement with the brand Fugly Pickles, the team hopes to encourage more
				consumers to become aware of their own consumption and wastes, and to be
				open to eating ugly.
			</p>
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div class="page__container">
			<div class="page__footnote">With special thanks to Jon Lung, Ziyun Qi and Roya Ramezani</div>
		</div>
	</div>
</div>
