---
layout: default.hbs
---
<div class="garden">
	<div class="container">
		<div class="page__header">
			<div class="page__title">East Side Garden Exchange</div>
			<div class="page__subtitle"></div>
		</div>
		<div class="page__text">
			<p>
				While working with community leaders and the Holly Neighborhood Coalition
				in East Austin, I was amongst a team of architects to plan and build a
				mobile gardening tool shed for the Holly Neighborhood. The Holly
				Neighborhood was a conflicted community that contained up to 30 rivaling
				community groups. We asked ourselves, "How can we facilitate new community
				bonds with a design build object?"
				We first approached the problem by surveying the neighborhood to
				understand their interests and values. Many of them were attracted to
				gardening but did not have the resources and tools to start. From there we
				thought up a mobile gardening tool shed. We sought out donations,
				reclaimed materials and the help of the neighbors in order to complete
				construction of the tool shed in 3 weeks.
			</p>	
		</div> 	
		<div class="page__container">
			<div class="page__image"><img src="images/garden/01_garden.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/garden/02_garden_duo.jpg"></div>
			<div class="page__image--half"><img src="images/garden/03_garden_duo.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/garden/04_garden_duo.jpg"></div>
			<div class="page__image--half"><img src="images/garden/05_garden_duo.jpg"></div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/garden/06_garden_duo.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__column--wide">
				<div class="page__text--side">
					<p>
						We also spent weekends making new gardens at neighbors' homes to promote a
						volunteer service that would accompany the trailer. One year later, our
						trailer and gardening program still stands as a vital part in rebuilding
						the community.
					</p>
				</div> 	
			</div>
			<div class="page__image--half"><img src="images/garden/07_garden_side.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/garden/08_garden_duo.jpg"></div>
			<div class="page__image--half"><img src="images/garden/09_garden_duo.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/garden/10_garden_duo.jpg"></div>
			<div class="page__image--half"><img src="images/garden/11_garden_duo.jpg"></div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/garden/12_garden_mid.jpg"></div>
			<div class="page__image"><img src="images/garden/13_garden_mid.jpg"></div>
		</div>
		<div class="page__container">
		</div>
		<div class="page__container">
			<div class="page__footnote">With special thanks to Natalie Ramirez, Laura Edwards, Jena Hammond, Elizabeth De Regt, Stephen Moore and Cisco Gomes.</div>
		</div> 	
	</div>
</div>
