---
layout: default.hbs
---
<div>
    <div>
        <div>Virtual Criminality</div>
        <div>Design for Screens with Brent Arnold and Service Design with Steven Dean, Fall 2015-2016</div>
    </div>
    <div>sketches</div>
    <div>
        <p>
            As part of an exploration of my thesis topic through a lens of screen design with web designer Brent
            Arnold, I developed many wireframes of a speculative web services for encryption and anonymity. My
            first sketch was of a digital encryption plug-in that automatically turns quotidien emails and texts
            into subversive messages. I even imagined using augmented reality to remake physical 
            &ldquo;dropsites&rdquo; for secret messages.
        </p>
    </div>
    <div>
        <div>video mammajamma</div>
    </div>
    <div>
        <p>
            A majority of my wireframing was for a speculative service I developed under the guidance of Steven
            Dean called Gild. It is a network of shared fake identities for people to browse the internet as
            someone else. The idea is inspired from web proxies for surfing the web anonymously. Current anonymous
            proxy servers and Virtual Private Networks help users browse the Internet anonymously by replacing a
            computer&rsquo;s IP address under a digital disguise. Gild would be an interface of anonymous web
            proxy server that takes on the disguise of a perceived ghost identity.
        </p>
    </div>
    <div>
        <div>
            sketches wireframing
        </div>
    </div>
    <div>
        <p>
            The site itself is a simple interface of eight ghost identity accounts that act as anonymous web
            proxies. Users can choose to surf the web anonymously by hiding behind one of these accounts. They can
            see how many users are also surfing the web as this &ldquo;person&rdquo; and how the speed and
            bandwidth of the connection fares. Hundreds of users can surf the internet together under one name,
            making it harder to trace individual activity back to a single point of origin.
        </p>
    </div>
    <div>
        <div>GIF</div>
        <div>GIF</div>
        <div>GIF</div>
    </div>
    <div>
        <p>
            Other digital interface experiments included hidden UI for log-in screens and imagining a
            conversational user interface to help with lying and scamming.
        </p>
    </div>
    <div>
        <div>hidden UI</div>
        <div>hidden UI</div>
    </div>
    <div>metis interface</div>
</div>
