---
layout: default.hbs
---
<div class="gild">
<div class="container">
    <div class="page__header">
        <div class="page__title">
            Virtual Criminality
        </div>
        <div class="page__subtitle">
            Design for Screens with Brent Arnold and<br>Service Design with Steven Dean, Fall 2015-2016
        </div>
    </div>
    <div class="page__container page__fake" style="height: 450px;">sketches</div>
    <div class="page__text gild__description">
        <p>
            As part of an exploration of my thesis topic through a lens of screen design with web designer Brent
            Arnold, I developed many wireframes of a speculative web services for encryption and anonymity. My
            first sketch was of a digital encryption plug-in that automatically turns quotidien emails and texts
            into subversive messages. I even imagined using augmented reality to remake physical 
            &ldquo;dropsites&rdquo; for secret messages.
        </p>
    </div>
    <div class="page__container">
        <div class="page__fake" style="width: 100%; height: 450px;">video mammajamma</div>
    </div>
    <div class="page__text gild__idea">
        <p>
            A majority of my wireframing was for a speculative service I developed under the guidance of Steven
            Dean called Gild. It is a network of shared fake identities for people to browse the internet as
            someone else. The idea is inspired from web proxies for surfing the web anonymously. Current anonymous
            proxy servers and Virtual Private Networks help users browse the Internet anonymously by replacing a
            computer&rsquo;s IP address under a digital disguise. Gild would be an interface of anonymous web
            proxy server that takes on the disguise of a perceived ghost identity.
        </p>
    </div>
    <div class="page__container--full">
        <div class="page__fake" style="width: 100%; height: 450px;">
            sketches wireframing
        </div>
    </div>
    <div class="page__text gild__interface">
        <p>
            The site itself is a simple interface of eight ghost identity accounts that act as anonymous web
            proxies. Users can choose to surf the web anonymously by hiding behind one of these accounts. They can
            see how many users are also surfing the web as this &ldquo;person&rdquo; and how the speed and
            bandwidth of the connection fares. Hundreds of users can surf the internet together under one name,
            making it harder to trace individual activity back to a single point of origin.
        </p>
    </div>
    <div class="page__container--full">
        <div class="page__fake" style="width: 390px; height: 250px;">GIF</div>
        <div class="page__fake" style="width: 390px; height: 250px;">GIF</div>
        <div class="page__fake" style="width: 390px; height: 250px;">GIF</div>
    </div>
    <div class="page__text gild__other">
        <p>
            Other digital interface experiments included hidden UI for log-in screens and imagining a
            conversational user interface to help with lying and scamming.
        </p>
    </div>
    <div class="page__container--spaced gild__ui">
        <div class="page__fake" style="width: 390px; height: 250px;">hidden UI</div>
        <div class="page__fake" style="width: 390px; height: 250px;">hidden UI</div>
    </div>
    <div class="page__container page__fake" style="height: 450px;">metis interface</div>
</div>
</div>
