---
layout: default
---
<div class="index">
	<div class="container">
		<div class="index__row">
			<div class="box">
				<a href="./eden.html">
                    <picture>
                        <source media="(max-width: 859px)"
                                srcset="images/front/half_front_aboutme_response_1588.jpg" />
                                <source srcset="images/front/half_front_eden.jpg" />
                                <img src="images/front/half_front_eden.jpg">
                    </picture>
					<div class="box__title">
						Eden Lew is an interdisciplinary designer from Texas, currently living in&nbsp;New&nbsp; York.
						<div class="box__sub-title">
							<p>
								say hello
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="index__thesis-book">
				<a href="./thesis_book.html">
                    <picture>
                        <source media="(max-width: 859px)"
                                srcset="images/front/half_front_masterminds_response_1588.jpg" />
                                <source srcset="images/front/half_front_mastermindsartmisbehaving.jpg" />
                                <img src="images/front/half_front_mastermindsartmisbehaving.jpg">
                    </picture>
					<div class="box__title">
						Masterminds & The&nbsp;Art of&nbsp;Misbehaving
						<div class="box__sub-title">
							<p>
								A year-long thesis on crime and design
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="index__row">
			<div class="index__thesis-presentation">
				<a href="./thesis_presentation.html">
                    <picture>
                        <source media="(max-width: 859px)"
                                srcset="images/front/half_front_presentation_response_1588.jpg" />
                                <source srcset="images/front/half_front_thesispresentation.jpg" />
                                <img src="images/front/half_front_thesispresentation.jpg">
                    </picture>
					<div class="box__title">
						Thesis Presentation
						<div class="box__sub-title">
							<p>
								SVA Theater, May 7th 2016
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="index__row">
			<!-- column left -->
			<div class="index__column--large">
				<div class="index__sub-row">
					<div class="box">
						<a href="./masterminds.html">
							<img src="images/front/half_front_conshop.jpg">
							<div class="box__title">
								Masterminds: A Con Shop
								<div class="box__sub-title">
									<p>
										A Pop Up Shop for Rewarding Misbehavior
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="index__sub-row">
					<div class="index__crimetools">
						<a href="./crime_tools.html">
                            <picture>
                                <source media="(max-width: 1264px) and (min-width: 860px)"
                                        srcset="images/front/half_front_crimetools_response_1183.jpg" />
                                <source media="(max-width: 859px)"
                                        srcset="images/front/half_front_crimetools_response_1588.jpg" />
                                        <source srcset="images/front/half_front_dystopiancrimetools.jpg" />
                                        <img src="images/front/half_front_dystopiancrimetools.jpg">
                            </picture>
							<div class="box__title">
								Dystopian<br>Crime&nbsp;Tools
								<div class="box__sub-title">
									<p>
										Evil Designers
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="index__gild">
						<a href="./gild.html">
                            <picture>
                                <source media="(max-width: 1264px) and (min-width: 860px)"
                                        srcset="images/front/half_front_gildvirtual_response_1183.jpg" />
                                <source media="(max-width: 859px)"
                                        srcset="images/front/half_front_crimetools_response_1588.jpg" />
                                        <source srcset="images/front/half_front_virtualcriminality.jpg" />
                                        <img src="images/front/half_front_virtualcriminality.jpg">
                            </picture>
							<div class="box__title">
								Gild Ghost Network
								<div class="box__sub-title">
									<p>
										Finding Anonymity
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- column right -->
			<div class="index__column--small">
				<div class="index__keyhole-gigantico">
					<a href="./keyhole_gigantico.html">
                        <picture>
                            <source media="(max-width: 1264px) and (min-width: 860px)"
                                    srcset="images/front/half_front_keyholegigantico_2398.jpg" />
                            <source media="(max-width: 859px)"
                                    srcset="images/front/half_front_keyholegigantico_1588.jpg" />
                            <source srcset="images/front/front_keyholegigantico.jpg" />
                            <img src="images/front/front_keyholegigantico.jpg">
                        </picture>
						<div class="box__title">
							Keyhole Gigantico
							<div class="box__sub-title">
								<p>
									Teaching Kids Lockpicking
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="index__row">
			<div class="index__experiments">
				<a href="./thesis_experiments.html">
                        <picture>
                            <source media="(max-width: 859px)"
                                    srcset="images/front/half_front_experiments_response_1588.jpg" />
                            <source srcset="images/front/half_front_experimentsdeception.jpg" />
                            <img src="images/front/half_front_experimentsdeception.jpg">
                        </picture>
						<div class="box__title">
							Experiments in Deception
							<div class="box__sub-title">
								<p>
									Thesis Prototypes & Sketches
								</p>
							</div>
						</div>
					</a>
			</div>
			<div class="index__paralleltimes">
				<a href="./parallel_times.html">
                        <picture>
                            <source media="(max-width: 859px)"
                                    srcset="images/front/half_front_paralleltimes_response_1588.jpg" />
                            <source srcset="images/front/half_front_paralleltimes.jpg" />
                            <img src="images/front/half_front_paralleltimes.jpg">
                        </picture>
						<img src="images/front/half_front_paralleltimes.jpg">
						<div class="box__title">
							Parallel Times
							<div class="box__sub-title">
								<p>
									SVA Products Design Exhibition<br>at WANTED Design / Industry City
								</p>
							</div>
						</div>
					</a>
			</div>
		</div>
		<div class="index__other-projects">
			<p>Other Projects</p>
		</div>
		<div class="index__row">
			<div class="box--mini">
				<a href="./nutshell.html">
					<img src="images/front/half_front_nutshell.jpg">
					<div class="box__title">
						The Nutshell
					</div>
				</a>
			</div>
			<div class="box--mini">
				<a href="./nico.html">
					<img src="images/front/half_front_nico.jpg">
					<div class="box__title">
						NICO
					</div>
				</a>
			</div>
			<div class="box--mini">
				<a href="./sound_steps.html">
					<img src="images/front/half_front_soundsteps.jpg">
					<div class="box__title">
						Sound Steps
					</div>
				</a>
			</div>
			<div class="box--mini">
				<a href="./fugly_pickles.html">
					<img src="images/front/half_front_fugly-pickles.jpg">
					<div class="box__title">
						Fugly Pickles
					</div>
				</a>
			</div>
		</div>
		<div class="index__row">
			<div class="box--mini">
				<a href="./alo.html">
					<img src="images/front/half_front_ALO.jpg">
					<div class="box__title">
                        ALO
					</div>
				</a>
			</div>
			<div class="box--mini">
				<a href="./movubble.html">
					<img src="images/front/half_front_movubble.jpg">
					<div class="box__title">
                        Movubble
					</div>
				</a>
			</div>
			<div class="box--mini">
				<a href="./garden.html">
					<img src="images/front/half_front_eastsidegarden.jpg">
					<div class="box__title">
						East&nbsp;Side<br>Garden&nbsp;Exchange
					</div>
				</a>
			</div>
			<div class="box--mini">
				<a href="./eggs.html">
					<img src="images/front/half_front_egg.jpg">
					<div class="box__title">
						70 Days of Eggs
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
