---
layout: default
---
<div class="index">
	<div class="container">
		<div class="index__row">
			<div class="index__eden">
				<img src="">
				<div class="box__title">
					Eden Lew is an interdisciplinary designer from Texas, currently living in New York.
					<div class="box__sub-title">
						<p>
							say hello
						</p>
					</div>
				</div>
			</div>
			<div class="index__thesis-book">
				<img src="">
				<div class="box__title">
					Masterminds & The Art of Misbehaving
					<div class="box__sub-title">
						<p>
							A year-long thesis on crime and design
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="index__row">
			<div class="index__thesis-presentation">
				<img src="">
				<div class="box__title">
					Thesis Presentation
					<div class="box__sub-title">
						<p>
							SVA Theater, May 7th 2016
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="index__row">
			<!-- column left -->
			<div class="index__column--large">
				<div class="index__sub-row">
					<div class="index__masterminds">
						<img src="">
						<div class="box__title">
							Masterminds: A Con Shop
							<div class="box__sub-title">
								<p>
									A Pop Up Shop for Rewarding Misbehavior
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="index__sub-row">
					<div class="index__crime-tools">
						<img src="">
						<div class="box__title">
							Dystopian Crime Tools
							<div class="box__sub-title">
								<p>
									Evil Designers
								</p>
							</div>
						</div>
					</div>
					<div class="index__gild">
						<img src="">
						<div class="box__title">
							Gild Ghost Network
							<div class="box__sub-title">
								<p>
									Finding Anonymity
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- column right -->
			<div class="index__column--small">
				<div class="index__keyhole-gigantico">
						<img src="">
						<div class="box__title">
							Keyhole Gigantico
							<div class="box__sub-title">
								<p>
									Teaching Kids Lockpicking
								</p>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="index__row">
			<div class="index__thesis-experiments">
						<img src="">
						<div class="box__title">
							Experiments in Deception
							<div class="box__sub-title">
								<p>
									Thesis Prototypes & Sketches
								</p>
							</div>
						</div>
			</div>
			<div class="index__parallel-times">
						<img src="">
						<div class="box__title">
							Parallel Times
							<div class="box__sub-title">
								<p>
									SVA Products Design Exhibition<br>at WANTED Design / Industry City
								</p>
							</div>
						</div>
			</div>
		</div>
		<div>
			Other Projects
		</div>
		<div class="index__row">
			<div class="index__nutshell">
						<img src="">
						<div class="box__title">
							The Nutshell
						</div>
			</div>
			<div class="index__nico">
						<img src="">
						<div class="box__title">
							NICO
						</div>
			</div>
			<div class="index__sound-steps">
						<img src="">
						<div class="box__title">
							Sound Steps
						</div>
			</div>
			<div class="index__fugly-pickles">
						<img src="">
						<div class="box__title">
							Fugly Pickles
						</div>

			</div>
		</div>
		<div class="index__row">
			<div class="index__flos">
						<img src="">
						<div class="box__title">
							FLOS Holiday Card
						</div>

			</div>
			<div class="index__ascend">
						<img src="">
						<div class="box__title">
							Ascend
						</div>
			</div>
			<div class="index__garden">
						<img src="">
						<div class="box__title">
							East&nbsp;Side<br>Garden&nbsp;Exchange
						</div>
			</div>
			<div class="index__eggs">
						<img src="">
						<div class="box__title">
							70 Days of Eggs
						</div>
			</div>
		</div>
	</div>
</div>
