---
layout: default
---
<div class="index">
	<div class="container">
		<div class="index__row">
			<div class="index__eden">
				<img src="">
				<div class="box__title">
					Eden Lew is an interdisciplinary designer from Texas, currently living in New York.
				</div>
				<div>
					say hello
				</div>
			</div>
			<div class="index__thesis-book">
				<img src="">
				<div class="box__title">
					Masterminds & The Art of Misbehaving
				</div>
				<div>
					A year-long thesis on crime and design
				</div>
			</div>
		</div>
		<div class="index__row">
			<div class="index__thesis-presentation">
				<img src="">
				<div class="box__title">
					Thesis Presentation
				</div>
				<div>
					SVA Theater, May 7th 2016
				</div>
			</div>
		</div>
		<div class="index__row">
			<!-- column left -->
			<div class="index__column--large">
				<div class="index__sub-row">
					<div class="index__masterminds">
						<img src="">
						<div class="box__title">
							Masterminds: A Con Shop
						</div>
						<div>
							A Pop Up Shop for Rewarding Misbehavior
						</div>
					</div>
				</div>
				<div class="index__sub-row">
					<div class="index__crime-tools">
						<img src="">
						<div class="box__title">
							Dystopian Crime Tools
						</div>
						<div>
							Evil Designers
						</div>
					</div>
					<div class="index__gild">
						<img src="">
						<div class="box__title">
							Gild Ghost Network
						</div>
						<div>
							Finding Anonymity
						</div>
					</div>
				</div>
			</div>
			<!-- column right -->
			<div class="index__column--small">
				<div class="index__keyhole-gigantico">
						<img src="">
						<div class="box__title">
							Keyhole Gigantico
						</div>
						<div>
							Teaching Kids Lockpicking
						</div>
				</div>
			</div>
		</div>
		<div class="index__row">
			<div class="index__thesis-experiments">
						<img src="">
						<div class="box__title">
							Experiments in Deception
						</div>
						<div>
							Thesis Prototypes & Sketches
						</div>
			</div>
			<div class="index__parallel-times">
						<img src="">
						<div class="box__title">
							Parallel Times
						</div>
						<div>
							SVA Products Design Exhibition at WANTED Design / Industry City
						</div>
			</div>
		</div>
		<div>
			Other Projects
		</div>
		<div class="index__row">
			<div class="index__nutshell">
						<img src="">
						<div class="box__title">
							The Nutshell
						</div>
			</div>
			<div class="index__nico">
						<img src="">
						<div class="box__title">
							NICO
						</div>
			</div>
			<div class="index__sound-steps">
						<img src="">
						<div class="box__title">
							Sound Steps
						</div>
			</div>
			<div class="index__fugly-pickles">
						<img src="">
						<div class="box__title">
							Fugly Pickles
						</div>

			</div>
		</div>
		<div class="index__row">
			<div class="index__flos">
						<img src="">
						<div class="box__title">
							FLOS Holiday Card
						</div>

			</div>
			<div class="index__ascend">
						<img src="">
						<div class="box__title">
							Ascend
						</div>
			</div>
			<div class="index__garden">
						<img src="">
						<div class="box__title">
							East&nbsp;Side<br>Garden&nbsp;Exchange
						</div>
			</div>
			<div class="index__eggs">
						<img src="">
						<div class="box__title">
							70 Days of Eggs
						</div>
			</div>
		</div>
	</div>
</div>
