---
layout: default.hbs
---
<div>
    <div>
        <div></div>
        <div></div>
    </div>
    <div>
        <div>awesome front shot keyhole</div>
        <div>vimeo lockbox</div>
    </div>
    <div>
        <p>
            Losing a generation of criminal masterminds means losing a wealth of knowledge of the physical world.
            These are experts in tinkering and misusing everyday objects. In order to know how physical objects
            function, the masterminds first need to know how the objects were constructed. Then they could truly
            subvert the object&rsquo;s original intention. Lockpicking would be the most common and obvious
            example of this. For my final product design, I imagined a lock pick puzzle box piggy bank for kids to
            learn lockpicking and to develop analog skills at a young age.
        </p>
    </div>
    <div>
        <div>lockbox drafting 1</div>
        <div>lockbox rendering</div>
        <div>lockbox drafting 2</div>
    </div>
    <div>
        <div>process lockbox</div>
        <p>
            My puzzle box piggy bank is a blown up version of the pin, tumblers, and lock picks. It is a giant
            simplified wooden keyhole with hand held picks to push up wooden pins. The driver pins and key pins
            are two sets of wooden blocks, differing in size. Kids must drop the key pins into the shafts first
            and then drop the driver pins on top. This causes the puzzle box to lock. Kids use the picks to push
            up the key pins through the keyhole in order to get the gap between the key pins and driver pins to
            match the shear line. Once cleared, the plug can be turned and pulled out, revealing a secret
            compartment drawer. I hope that with a puzzle like this, children can start to grasp the inner
            workings of locks and become better lock pickers faster. Working with our hands makes us smarter and
            helps us think three-dimensionally. It is important for kids to start grasping the mechanics of
            everyday objects at a young age before becoming sucked into the digital world of intangible objects.
        </p>
        <div>process lockbox</div>
    </div>
    <div>
        <div>exploded lockbox</div>
        <div>parts of lockbox golden</div>
        <div>final pic of lockbox</div>
    </div>
</div>
