---
layout: default.hbs
---
<div class="keyhole-gigantico">
<div class="container">
    <div class="page__header">
        <div class="page__title">Keyhole Gigantico</div>
        <div class="page__subtitle">
            3D Product Design with Sinclair Smith, Spring 2016</div>
    </div>
    <div class="page__container">
        <div class="page__image">
            <img src="images/keyhole_gigantico/01_keyhole_mid.jpg"></div>
        <div class="keyhole-gigantico__vimeo">
					<iframe src="https://player.vimeo.com/video/166161128?byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
    </div>
    <div class="page__text keyhole-gigantico__description">
        <p>
            Losing a generation of criminal masterminds means losing a wealth of knowledge of the physical world.
            These are experts in tinkering and misusing everyday objects. In order to know how physical objects
            function, the masterminds first need to know how the objects were constructed. Then they could truly
            subvert the object&rsquo;s original intention. Lockpicking would be the most common and obvious
            example of this. For my final product design, I imagined a lock pick puzzle box piggy bank for kids to
            learn lockpicking and to develop analog skills at a young age.
        </p>
    </div>
    <div class="page__container--full">
        <div class="page__column">
            <div class="page__image--third"><img src="images/keyhole_gigantico/03_keyhole_trio.jpg"></div>
        </div>
        <div class="page__column--centered">
            <div class="page__image--third"><img src="images/keyhole_gigantico/04_keyhole_trio.jpg"></div>
        </div>
        <div class="page__column">
            <div class="page__image--third"><img src="images/keyhole_gigantico/02_keyhole_trio.jpg"></div>
        </div>
    </div>
    <div class="page__container--spaced keyhole-gigantico__process">
        <div class="page__image--mini"><img src="images/keyhole_gigantico/06_keyhole_mini.jpg"></div>
        <div class="page__text--mini">
            <p>
                My puzzle box piggy bank is a blown up version of the pin, tumblers, and lock picks. It is a giant
                simplified wooden keyhole with hand held picks to push up wooden pins. The driver pins and key pins
                are two sets of wooden blocks, differing in size. Kids must drop the key pins into the shafts first
                and then drop the driver pins on top. This causes the puzzle box to lock. Kids use the picks to push
                up the key pins through the keyhole in order to get the gap between the key pins and driver pins to
                match the shear line. Once cleared, the plug can be turned and pulled out, revealing a secret
                compartment drawer. I hope that with a puzzle like this, children can start to grasp the inner
                workings of locks and become better lock pickers faster. Working with our hands makes us smarter and
                helps us think three-dimensionally. It is important for kids to start grasping the mechanics of
                everyday objects at a young age before becoming sucked into the digital world of intangible objects.
            </p>
        </div>
        <div class="page__item--bottom">
            <div class="page__image--mini">
                <img src="images/keyhole_gigantico/07_keyhole_mini.jpg">
            </div>
        </div>
    </div>
    <div class="page__container">
        <div class="page__image"><img src="images/keyhole_gigantico/08_keyhole_mid.jpg"></div>
        <div class="page__image"><img src="images/keyhole_gigantico/09_keyhole_mid.jpg"></div>
        <div class="page__image"><img src="images/keyhole_gigantico/10_keyhole_mid.jpg"></div>
    </div>
</div>
</div>
