---
layout: default.hbs
---
<div>
    <div>
        <div>Masterminds</div>
        <div>A Con Shop</div>
        <div>Design Delight with Emilie Baltz, Spring 2016</div>
    </div>
    <div>
        <div>vimeo upload presentation with extra</div>
        <div>vimeo link to final con movie</div>
    </div>
    <div>
        <p>
            The best con men I&rsquo;d like to learn from would be the ones from movies. The Hollywood romanticism
            takes away from the harsh reality of con men being scammers, liars and assholes. Danny Ocean from
            Ocean&rsquo;s Eleven (2001) isn&rsquo;t just a criminal. He&rsquo;s charming, persuasive, nonchalant
            and confident in his skills of stealth and trickery. In the TV show The Blacklist, character Raymond
            Reddington holds an air of power and intimidation that sways people into doing his deeds. Mobsters in
            films like Goodfellas or The Godfather have a sense of honor towards their family and culture. They
            stick up for one another and boast their pride. Sometimes I just want to be these characters.
        </p>
    </div>
    <div>
        <div>process: hidden camera</div>
        <div>process: acetone</div>
        <div>process: mask prototypes</div>
    </div>
    <div>
        <p>
            To take a look at the faces, characters, and personalities behind the film industry&rsquo;s
            blockbuster heists, I designed a one day pop-up shop event called Masterminds: A Con Shop, where
            visitors can explore their own criminality and be rewarded for their misbehavior with gold and diamond
            pins relating to a scale of badassery. Visitors were invited to become anonymous under a face mask of
            a movie star criminal, and brag about a time they were proud of misbehaving. On March 14th, 2016, I
            invited the public to visit my pop-up shop at the Lazy Susan Gallery in the Lower East Side /
            Chinatown district of Manhattan. It was designed as a store for trying out the identities of Hollywood
            heist crews, most notably from Ocean&rsquo;s Eleven, The Italian Job and Fast Five. I chose to host
            the event in Chinatown because of its association with counterfeit goods and piracy. I ended up
            collecting stories of spilled-about experiences in petty thefts, lies and trickery.
        </p>
    </div>
    <div>
        <div>
            &ldquo;Visitors spilled stories of times they had cheated, forged, lied, or stolen things, but they
            had a kind of permission to do so since they were wearing movie-star face masks.&rdquo;
        </div>
    </div>
    <div>
        <div>mask pic someone...</div>
        <div>mask pic souvik</div>
    </div>
    <div>
        <div>looking at the wall</div>
        <div>people signing card</div>
        <div>lou mask into machine</div>
    </div>
    <div>
        <div>mask wall</div>
        <div>diamond on the shirt</div>
    </div>
    <div>
        <div>In coordination with Splacer.co</div>
    </div>
</div>
