---
layout: default.hbs
---
<div class="movubble">
	<div class="container">
		<div class="page__header">
			<div class="page__title">Movubble</div>
			<div class="page__subtitle">With Leila Santiago, Louise Van&rsquo;t Riet and Belen Tenorio<br>Design
				with Masamichi Udagawa and Sigi Moeslinger Spring 2015
			</div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/movubble/01_movubble_mid.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				The main objective of the Intervention & Interaction class, taught by Masamichi Udagawa and Sigi
				Moeslinger of Antenna Design, was to engage New Yorkers to do more exercise. We worked as a team to
				create an intervention that invited people to move their bodies while having fun. New York City is such
				a fast-paced and stressful city. It is a land of sleepless workers and busy people. With everyone rushing
				to and from meetings, it&rsquo;s hard to find a break throughout the day. Statistics from a Gallup Work
				and Education Poll in 2014 show that the average U.S. work week has increased to 47 hours a week and only
				13% of workers enjoy their work.
			</p>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/movubble/02_movubble_mid.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				With so many overworked and unhappy workers, the team felt that the intervention needed to be delightful,
				simple and quick to engage with. After a long brainstorming the team decided to target commuting New
				Yorkers and tourists with a spatial focus on parks and the entrances and exits of metro stations.
			</p>
		</div>
		<div class="page__container">
			<div class="page__headline">
				&ldquo;We wanted to design installations that would get everyone&rsquo;s attention and to invite
				and engage passerby&rsquo;s to move their bodies. Thus we created <em>Movubble</em>.&rdquo;
			</div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/movubble/03_movubble_duo.jpg"></div>
			<div class="page__image--half"><img src="images/movubble/04_movubble_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				Movubble is a speculative physical intervention for public spaces in New York City. It consists of 10
				different bubbles machines that would be installed around Manhattan to encourage fun and active
				lifestyles. With actions like cycling, running, punching, pulling and lifting, the machines allow
				people to exercise in different ways in order to produce bubbles. All of the machines have counters
				connected to record the number of actions being played on the machines.
				Movubble would work in coordination with NYC Parks and Oscar Health Insurance&copy;: for every push, pull,
				crank, swing cycle or other action recorded on Movubble machines, Oscar Insurance will donate 5 cents to
				The Bubble Foundation in NYC (an institution that provides nutrition programs to underserved schools).
			</p>
		</div>
		<div class="page__container--full">
			<div class="page__image--third"><img src="images/movubble/05_movubble_trio.jpg"></div>
			<div class="page__image--third"><img src="images/movubble/06_movubble_trio.jpg"></div>
			<div class="page__image--third"><img src="images/movubble/07_movubble_trio.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/movubble/08_movubble_duo.jpg"></div>
			<div class="page__image--half"><img src="images/movubble/09_movubble_duo.jpg"></div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/movubble/10_movubble_mid.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/movubble/11_movubble_duo.jpg"></div>
			<div class="page__image--half"><img src="images/movubble/12_movubble_duo.jpg"></div>
		</div>
	</div>
</div>
