---
layout: default.hbs
---
<div class="nico">
	<div class="container">
		<div class="page__header">
			<div class="page__title">Nico: A 360&deg; Camera Toy</div>
			<div class="page__subtitle"></div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/nico/01_nico.jpg"></div>
			<div class="page__image"><img src="images/nico/02_nico.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				Product, Brand, and Experience class&mdash;taught by Aruliden co-founders Rinat
				Arul and Johan Liden, focused on &ldquo;social movements and the processes by
				which they can become inextricably linked to physical product and the
				marketplace.&rdquo; Students were asked to explore an up-and-coming social
				movement or trend, and then to develop representative, even iconic,
				products. The designers&mdash;Isioma Iyamah, Leila Santiago de Oliveira Santos,
				and Eden Lew&mdash;initially explored technology-mediated connectivity and
				impermanence. They investigated the intersection of virtual and augmented
				reality with social media, and developed products that merged the two. The
				movement they settled on aimed to bridge the gap between digital and
				physical play. While digital media such as video and photo are emerging as
				children&rsquo;s primary means of play, exploration and communication, physical
				outdoor play is in decline. Children are retreating behind screens.	
				The team believed that their product offerings&mdash;while contemporary&mdash;would
				occupy too niche a marketplace, so they shifted their focus to children&rsquo;s
				interactions with technology. The movement they settled on aimed to bridge
				the gap between digital and physical play. They found that while digital
				media such as video and photo are emerging as children&rsquo;s primary means of
				play, exploration and communication, physical outdoor play was in decline.
				Children are retreating behind screens.
			</p>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/nico/03_nico.jpg"></div>
			<div class="page__image"><img src="images/nico/04_nico.jpg"></div>
			<div class="page__image"><img src="images/nico/05_nico.jpg"></div>
			<div class="page__image"><img src="images/nico/06_Nico_packaging_spin.gif"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/nico/07_nico_duo.jpg"></div>
			<div class="page__image--half"><img src="images/nico/08_nico_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				Nico, a 360-degree camera toy companion, provides children with an entry
				point to the digital world, allowing them to remain firmly anchored to the
				real world by engaging their sense of adventure and imagination...and
				encouraging them to go outside! The design team argues that &ldquo;Nico is
				environment versatile. This means users can take Nico anywhere&mdash;outdoors,
				indoors, under water. Kids can drop her into in washing machine or tumble
				with her through grass.&rdquo; Nico&rsquo;s multiple camera lenses allow her to record
				her surroundings close up, then and show her users new perspectives and
				vantage points. Her bendable, magnet-tipped arms allow Nico to clasp onto
				things like branches or or stick to items like steel poles&mdash;useful for
				recording spaces that her playmates can&rsquo;t otherwise get to!
				The designers developed packaging that doubled as a &ldquo;home&rdquo; for Nico.
				Components include die-cut Nico furniture, and also incorporated materials
				for abstract diorama construction. This provides young users the tools and
				materials to create physical environments alongside their small companion.
				In-store display also encourages interactive user participation. Children
				visiting the MoMA design store, for example, would have the opportunity to
				build large-scale, multilevel dioramas, and then use the device to see
				their creations from Nico&rsquo;s point of view! The designers had a lot of fun
				concepting and creating Nico. &ldquo;In designing Nico, we were able to bring
				some of our childhood adventure fantasies to life&mdash;using both technology
				and analog methods.&rdquo; They add, &ldquo;Young children of today&rsquo;s generations are
				at a crossroads, and embracing the digital shouldn&rsquo;t negate the physical.
				We want to set out youngsters to exploring the world again, and perhaps
				this toy will prompt them to do just that.&rdquo;
			</p>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/nico/09_nico_.jpg"></div>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/nico/10_nico_duo.jpg"></div>
			<div class="page__image--half"><img src="images/nico/11_nico_duo.jpg"></div>
			<div class="page__image--half"><img src="images/nico/12_nico_duo.jpg"></div>
			<div class="page__image--half"><img src="images/nico/13_nico_duo.jpg"></div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/nico/14_nico.jpg"></div>
			<div class="page__image"><img src="images/nico/15_nico.jpg"></div>
			<div class="page__image"><img src="images/nico/16_nico.jpg"></div>
		</div>
		<div class="page__container">
			<div class="page__footnote">With special thanks to Leila Santiago and Isioma Iyamah</div>
		</div>
	</div>
</div>
