---
layout: default.hbs
---
<div class="nutshell">
	<div class="container">
		<div class="page__header">
			<div class="page__title">The Nutshell</div>
			<div class="page__subtitle"></div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/nutshell/01_nutshell_mid.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				As part of the first-year Affirming Artifacts class, students were asked
				to redesign the first piece of trash they threw out. In seven weeks, I
				took a sandwich wrapper on a journey through products, services and
				platforms and designed the Nutshell, a pod for productive break-taking.
				Inspired by the sandwich wrapper, the idea began from recognizing that
				busy students and professionals forget to take proper lunch breaks. From
				there, I prototyped a &ldquo;lunch sack&rdquo; that acted as an isolation
				pod for people to eat lunch in.
			</p>
		</div>
		<div class="page__container--spaced">
			<div class="nutshell__vimeo">
				<iframe src="https://player.vimeo.com/video/120776565?byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="page__image"><img src="images/nutshell/01.5_nutshell_mid.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/02_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/03_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/03.5_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/04_nutshell_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				The next iteration of the sack simplified the pod and the design became
				collapsible. Branded as the Nutshell Go, I imagined people to find moments
				for solitude in office spaces, libraries, school or at home with the
				product. Based on research in the psychology of solitude, I found that the
				act of taking short breaks of solitude can increase mental stability.
			</p>
		</div>
		<div class="page__container--spaced">
			<div class="page__image"><img src="images/nutshell/05_nutshell_mid.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/07_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/08_nutshell_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				After creating products we had to choose a speculative corporate
				partnership that framed the object&rsquo;s use and marketability. I
				pretended to join forces with The Container Store and created potential
				ads to market the Nutshell.
				In the service phase of the exercise, I imagined a service with Google
				where employees called Google Counselors would stand on the street and
				provide private counseling sessions under the Nutshell.
			</p>
		</div>
		<div class="page__container">
			<div class="nutshell__vimeo">
				<iframe src="https://player.vimeo.com/video/107893446?byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<div class="page__text">
			<p>
				However, straying away from a Google service, I went back to looking at
				how the Nutshell could be its own company and furthermore, a community
				platform. I created a mock company called Nutshell LABS that would be the
				manufacturer of the Nutshells.
				I also created new products called Nutshell Blackout and Headshell to show
				the company's future line of products. Nutshell LABS could also provide
				workshops on solitude to teach meditation or tips for productive break
				-taking and life management to companies.
			</p>
		</div>
		<div class="page__container--spaced">
			<div class="page__image--third"><img src="images/nutshell/09_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/10_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/11_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/12_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/13_nutshell_duo.jpg"></div>
			<div class="page__image--third"><img src="images/nutshell/14_nutshell_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				Finally, using the Nutshell to design a community platform led me to an
				app-based community of Nutshell users or &ldquo;Nutshellers.&rdquo; The
				app would be used while inside a Nutshell and can provide listeners with
				custom guided meditations, podcasts and music. Users can also create their
				own recordings while in the Nutshell and post their stories into a
				community forum of story sound clips.
				With advice from classmate Souvik Paul, the business of Nutshell
				introduces the notion of &ldquo;social solitude&rdquo; &mdash; where
				spending time with oneself isn't considered a lonely act, but a supported
				one.
			</p>
		</div>
		<div class="page__container--centered">
			<img src="images/nutshell/15_nutshell_mid.jpg">
		</div>
		<div class="page__container">
			<div class="page__footnote">
				With special thanks to Allan Chochinov, Souvik Paul and the Products of Design Class of 2017
			</div>
		</div>
	</div>
</div>
