---
layout: default.hbs
---
<div class="container">
    <div class="page__header">
        <div class="page__title">Parallel Times</div>
        <div class="page__subtitle">3D Product Design with Sinclair Smith and WANTED Design at Industry City, May 2016</div>
    </div>
    <div class="page__container">
        <div class="page__fake" style="width: 100%; height: 450px;">exhibition picture</div>
    </div>
    <div class="page__text">
        <p>
            For Wanted Design 2016 at Industry City, SVA Products of Design was invited to present the work from
            the second-year Master&rsquo;s Thesis 3D Product Design course guided by Sinclair Scott Smith. Working
            with Sinclair, Marianna Mezhibovskaya, Natsuki Hayashi, Jon Lung and Souvik Paul, I was able to help
            design and build our exhibition for the class.
        </p>
    </div>
    <div class="page__container">
        <div class="page__fake" style="width: 100%; height: 450px;">natsuki reading newspaper</div>
    </div>
    <div class="page__text">
        <p>
            Natsuki and I focused on the graphic treatment of the exhibition and designed a take away newspaper
            detailing the speculative creative the course took in developing products for the future and present.
        </p>
    </div>
    <div class="page__container--full">
        <div class="page__fake" style="width: 592px; height: 450px;">newspaper front</div>
        <div class="page__fake" style="width: 592px; height: 450px;">newspaper back</div>
        <div class="page__fake" style="width: 100%; height: 450px;">exhibition pic</div>
        <div class="page__fake" style="width: 390px; height: 260px;">chelsea pic</div>
        <div class="page__fake" style="width: 390px; height: 260px;">chelsea pic</div>
        <div class="page__fake" style="width: 390px; height: 260px;">chelsea pic</div>
        <div class="page__fake" style="width: 592px; height: 450px;">process</div>
        <div class="page__fake" style="width: 592px; height: 450px;">process</div>
    </div>
    <div class="page__container">
        <div class="page__footnote">For more information, please see the blogpost on the SVA Products of Design blog.</div>
    </div>
</div>
