---
layout: default.hbs
---
<div>
    <div>
        <div>Parallel Times</div>
        <div>3D Product Design with Sinclair Smith and WANTED Design at Industry City, May 2016</div>
    </div>
    <div>
        <div>exhibition picture</div>
    </div>
    <div>
        <p>
            For Wanted Design 2016 at Industry City, SVA Products of Design was invited to present the work from
            the second-year Master&rsquo;s Thesis 3D Product Design course guided by Sinclair Scott Smith. Working
            with Sinclair, Marianna Mezhibovskaya, Natsuki Hayashi, Jon Lung and Souvik Paul, I was able to help
            design and build our exhibition for the class.
        </p>
    </div>
    <div>
        <div>natsuki reading newspaper</div>
    </div>
    <div>
        <p>
            Natsuki and I focused on the graphic treatment of the exhibition and designed a take away newspaper
            detailing the speculative creative the course took in developing products for the future and present.
        </p>
    </div>
    <div>
        <div>newspaper front</div>
        <div>newspaper back</div>
        <div>exhibition pic</div>
        <div>chelsea pic</div>
        <div>chelsea pic</div>
        <div>chelsea pic</div>
        <div>process</div>
        <div>process</div>
    </div>
    <div>
        <div>For more information, please see the blogpost ont he SVA Products of Design blog.</div>
    </div>
</div>
