---
layout: default.hbs
---
<div class="parallel-times">
<div class="container">
    <div class="page__header">
        <div class="page__title">Parallel Times</div>
        <div class="page__subtitle">3D Product Design with Sinclair Smith<br>and WANTED Design at Industry City, May 2016</div>
    </div>
    <div class="page__container">
        <div class="page__image"><img src="images/parallel_times/01_paralleltimes_mid.jpg"></div>
    </div>
    <div class="page__text parallel-times__wanted-description">
        <p>
            For Wanted Design 2016 at Industry City, SVA Products of Design was invited to present the work from
            the second-year Master&rsquo;s Thesis 3D Product Design course guided by Sinclair Scott Smith. Working
            with Sinclair, Marianna Mezhibovskaya, Natsuki Hayashi, Jon Lung and Souvik Paul, I was able to help
            design and build our exhibition for the class.
        </p>
    </div>
    <div class="page__container">
        <div class="page__image"><img src="images/parallel_times/02_paralleltimes_mid.jpg"></div>
    </div>
    <div class="page__text parallel-times__newspaper-description">
        <p>
            Natsuki and I focused on the graphic treatment of the exhibition and designed a take away newspaper
            detailing the speculative creative the course took in developing products for the future and present.
        </p>
    </div>
    <div class="page__container--full">
        <div class="page__image--half"><img src="images/parallel_times/03_paralleltimes_duo.jpg"></div>
        <div class="page__image--half"><img src="images/parallel_times/04_paralleltimes_duo.jpg"></div>
        <div class="page__image"><img src="images/parallel_times/05_paralleltimes_long.jpg"></div>
        <div class="page__image--third"><img src="images/parallel_times/06_parallel_trio.jpg"></div>
        <div class="page__image--third"><img src="images/parallel_times/07_parallel_trio.jpg"></div>
        <div class="page__image--third"><img src="images/parallel_times/08_parallel_trio.jpg"></div>
        <div class="page__fake" style="width: 592px; height: 450px;">process</div>
        <div class="page__fake" style="width: 592px; height: 450px;">process</div>
    </div>
    <div class="page__container">
        <div class="page__footnote">For more information, please see the blogpost on the SVA Products of Design blog.</div>
    </div>
</div>
</div>
