---
layout: default.hbs
---
<div class="sound-steps">
	<div class="container">
		<div class="page__header">
			<div class="page__title">Sound Steps</div>
			<div class="page__subtitle">With Chelsea Stewart<br>Making Studio
			with Becky Stern, Fall 2015</div>
		</div>
		<div class="page__container">
			<div class="page__image"><img src="images/sound_steps/00_soundsteps_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				Sound Steps is an audio installation I designed with Chelsea Stewart at
				the School of Visual Arts Products of Design MFA program. Inspired from
				our recent move to New York from the Midwest, we decided to collect sounds
				around the city and to find an interactive way to allow participants to
				interact with sound.
				Sound Steps invites people to walk barefoot across the platform to
				discover the city audibly.
			</p>
		</div>
		<div class="page__container">
			<div class="sound-steps__vimeo">
				<iframe src="https://player.vimeo.com/video/114308446?byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<div class="page__text">
			<p>
				We wanted to create a sound installation with the goal of triggering
				people's curiosity and delight. In order to understand the capabilities of
				the technology, we brainstormed inputs and outputs that could be pieced
				together. After being introduced to the Bare Conductive touchboard, we
				decided to have an output of sound with an input of physical movement.
				Our move from the Midwest to the city seemed like an interesting narrative
				to tell through sound. We collected recordings of sounds from the Midwest
				and sounds around New York City to compare and contrast the audial
				qualities of both places.
			</p>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/sound_steps/01_soundsteps_duo.jpg"></div>
			<div class="page__image--half"><img src="images/sound_steps/02_soundsteps_duo.jpg"></div>
		</div>
		<div class="page__text">
			<p>
				After uploading the sounds to the board and tinkering with the code to
				make the audio output louder, we had to construct a platform for users to
				interact physically with sound. We built a 4'x4' wooden frame with a 1/4"
				MDF layer on top. In the MDF, 9 equally-spaced pinholes were drilled out
				to allow wires from the Bare Conductive touchboard connect to conductive
				materials on top.
				Behind the MDF, we built a small platform for the touchboard to sit and
				made holes in the wood frame to let long wires run to one of the nine
				touch points. Finally, the top was painted white and the wire ends were
				taped over with copper tape and overlayed with conductive fabric squares
				to create capacitive touch points.
			</p>
		</div>
		<div class="page__container--full">
			<div class="page__image--half"><img src="images/sound_steps/03_soundsteps_duo.jpg"></div>
			<div class="page__image--half"><img src="images/sound_steps/04_soundsteps_duo.jpg"></div>
		</div>
		<div class="page__text">
		</div>
		<div class="page__container--full">
			<div class="page__wide-column">
				<div class="page__text--side">
					<p>
						When testing the interaction on others, they realized that different sets
						of sound created different experiences. The sound set of Midwest-NYC
						sounds acted more as the discovery of a narrative. A second sound set of
						instrumental and drum kit clips turned the platform into a physical
						instrument set off by walking around the board. 
						This is only the first experiment with the Bare Conductive touchboard.
						Moving forward, we would like to experiment with the board's proximity
						capabilities as well as connecting other types of Arduino shields to
						really explore the possiblities of the technology.
					</p>
				</div>
			</div>
			<div class="page__image--half"><img src="images/sound_steps/05_soundsteps_side.jpg"></div>
			<div class="page__image--half"><img src="images/sound_steps/06_soundsteps_duo.jpg"></div>
			<div class="page__image--half"><img src="images/sound_steps/07_soundsteps_duo.jpg"></div>
		</div>
	</div>
</div>
