---
layout: default.hbs
---
<div class="container">
    <div class="page__header">
        <div class="page__title">Experiments<br>in Deception</div>
        <div class="page__subtitle">Thesis I with Andrew Schloss, Fall 2015</div>
    </div>
    <div class="page__container">
        <div class="page__fake" style="width: 100%; height: 450px;">crime tool sketches</div>
    </div>
    <div class="page__text">
        <p>
            In the beginning of my thesis, I wanted to create products for crime and stealth, being inspired from
            tools used by CIA agents, tricks of magicians and methods of the mafia. I began sketching 100 ideas of
            potential products ranging from DNA bombs to identify theft in tombstones. After sketching, I made a
            few rapid prototypes.
        </p>
    </div>
    <div class="page__container--full">
        <div class="page__fake" style="width: 100%; height: 450px;">100 sketches</div>
    </div>
    <div class="page__container--full">
        <div class="page__wide-column page__step-text">
            Creating my own secret code</div>
        <div class="page__fake" style="width: 592px; height: 450px;">code</div>
        <div class="page__fake" style="width: 592px; height: 450px;">compartment stickers</div>
        <div class="page__wide-column page__step-text">Making secret compartment stickers, for hiding credit cards, keys and notes</div>
        <div class="page__wide-column page__step-text">Sewing a fake plastic bag to protect the carry of contraband items from police thermal imaging</div>
        <div class="page__fake" style="width: 592px; height: 450px;">plastic bag</div>
    </div>
    <div class="page__container">
        <div class="page__step-text">A security hood for evading surveillance cameras</div>
    </div>
    <div class="page__container">
        <div class="page__fake" style="width: 100%; height: 450px;">surveillance ISI</div>
        <div class="page__fake" style="width: 100%; height: 450px;">surveillance footage</div>
    </div>
</div>
