---
layout: default.hbs
---
<div>
    <div>
        <div>Experiments in Deception</div>
        <div>Thesis I with Andrew Schloss, Fall 2015</div>
    </div>
    <div>
        <div>crime tool sketches</div>
    </div>
    <div>
        <p>
            In the beginning of my thesis, I wanted to create products for crime and stealth, being inspired from
            tools used by CIA agents, tricks of magicians and methods of the mafia. I began sketching 100 ideas of
            potential products ranging from DNA bombs to identify theft in tombstones. After sketching, I made a
            few rapid prototypes.
        </p>
    </div>
    <div>
        <div>100 sketches</div>
    </div>
    <div>
        <div>Creating my own secret code</div>
        <div>code</div>
    </div>
    <div>
        <div>compartment stickers</div>
        <div>Making secret compartment stickers, for hiding credit cards, keys and notes</div>
    </div>
    <div>
        <div>Sewing a fake plastic bag to protect the carry of contraband items from police thermal imaging</div>
        <div>plastic bag</div>
    </div>
    <div>
        <div>A security hood for evading surveillance cameras</div>
    </div>
    <div>
        <div>surveillance ISI</div>
        <div>surveillance footage</div>
    </div>
</div>
