---
layout: default.hbs
---
<div class="thesis-presentation">
<div class="container">
    <div class="page__header">
        <div class="page__title">Thesis Presentation</div>
        <div class="page__subtitle">May 6, 2016 SVA Theater</div>
    </div>
    <div class="page__container">
        <div class="thesis-presentation__youtube">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JMluB-DYK-s" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="page__text">
        <p>
            On May 6th, 2016 at the SVA Theater in Chelsea, I was able to present my thesis to the public with a
            short Q&A at the end.
        </p>
    </div>
    <div class="page__container">
        <div class="page__image"><img src="images/thesis_presentation/01_presentation_mid.jpg"></div>
        <div class="page__image"><img src="images/thesis_presentation/02_presentation_mid.jpg"></div>
        <div class="page__image"><img src="images/thesis_presentation/03_presentation_mid.jpg"></div>
        <div class="page__image"><img src="images/thesis_presentation/04_presentation_mid.jpg"></div>
        <div class="page__image"><img src="images/thesis_presentation/05_presentation_mid.jpg"></div>
    </div>
</div>
</div>
