---
layout: default.hbs
---
<div class="thesis-experiments">
<div class="container">
    <div class="page__header">
        <div class="page__title">Experiments<br>in Deception</div>
        <div class="page__subtitle">Thesis I with Andrew Schloss, Fall 2015</div>
    </div>
    <div class="page__container">
        <div class="page__image"><img src="images/thesis_experiments/01_experiments_mid.jpg"></div>
    </div>
    <div class="page__text thesis-experiments__description">
        <p>
            In the beginning of my thesis, I wanted to create products for crime and stealth, being inspired from
            tools used by CIA agents, tricks of magicians and methods of the mafia. I began sketching 100 ideas of
            potential products ranging from DNA bombs to identify theft in tombstones. After sketching, I made a
            few rapid prototypes.
        </p>
    </div>
    <div class="page__container--full">
        <div class="page__image">
            <picture>
                <source media="(max-width: 1234px)" srcset="images/thesis_experiments/02_response_experiments_mid.jpg">
                <img src="images/thesis_experiments/02_experiments_long.jpg">
            </picture>
        </div>
    </div>
    <div class="page__container--full">
        <div class="page__wide-column">
            <div class="page__step-text">
                Creating my own secret code</div>
        </div>
        <div class="page__image--half">
            <picture>
                <source media="(max-width: 1234px)" srcset="images/thesis_experiments/03_response_experiments_mid.jpg">
                <img src="images/thesis_experiments/03_experiments_side.jpg">
            </picture>
        </div>
    </div>
    <div class="page__container--full">
        <div class="page__image--half">
            <picture>
                <source media="(max-width: 1234px)" srcset="images/thesis_experiments/04_response_experiments_mid.jpg">
                <img src="images/thesis_experiments/04_experiments_mid.jpg">
            </picture>
        </div>
        <div class="page__wide-column thesis-experiments__stickers">
            <div class="page__step-text">
                Making secret compartment stickers, for hiding credit cards, keys and notes</div>
        </div>
    </div>
    <div class="page__container--full">
        <div class="page__wide-column">
            <div class="page__step-text">
                Sewing a fake plastic bag to protect the carry of contraband items from police thermal imaging</div>
        </div>
        <div class="page__image--half">
            <picture>
                <source media="(max-width: 1234px)" srcset="images/thesis_experiments/05_response_experiments_mid.jpg">
                <img src="images/thesis_experiments/05_experiments_side.jpg">
            </picture>
        </div>
    </div>
    <div class="page__container">
        <div class="page__step-text thesis-experiments__headline">A security hood for evading surveillance cameras</div>
    </div>
    <div class="page__container">
        <div class="page__image"><img src="images/thesis_experiments/06_experiments_mid.jpg"></div>
        <div class="page__image"><img src="images/thesis_experiments/07_experiments_mid.jpg"></div>
    </div>
</div>
</div>
