---
layout: default.hbs
---
<div class="container">
    <div class="page__header">
        <div class="page__title">Masterminds & The Art of Misbehaving</div>
        <div class="page__subtitle">School of Visual Arts, MFA Products of Design 2015 - 2016</div>
    </div>
    <div>
        <div style="width: 811px;background:black;color:red;">book picture?</div>
    </div>
    <div>
        <p>
            As a graduate student at The School of Visual Art&rsquo;s MFA Products of Design program,
            I had the opportunity to embark on a one-year thesis exploration on a topic of my choosing.
            In a quest to become braver, riskier and bolder, I decided to study the creativity in being
            a criminal mastermind. At the completion of my Master&rsquo;s Thesis, I produced a 25,000
            word book detailing my process and projects. The book is available for purchase on Blurb.
        </p>
    </div>
    <div>
        <div>issuu book link</div>
    </div>
    <div>
        <div>
            <p>
                A MFA Products of Design Masters Thesis is a non-traditional process that blends academia and
                design. It is a unique, year-long design pursuit that investigates a chose subject matter or
                territory. Student work is instantiated through speculative design, expert research, product
                prototyping, information architecture, service, interaction, experience design, user testing,
                branding, and business modeling. With that, my research consisted of autobiographies of mafioso,
                books detailing grand diamond heists and a binge of great crime films.
            </p>
        </div>
        <div>
            <div>
                <div>burglar</div>
                <div>Burgler&rsquo;s Guide to the City</div>
                <div>by Geoff Manaugh</div>
            </div> 
            <div>
                <div>misfit</div>
                <div>Burgler&rsquo;s Guide to the City</div>
                <div>by Geoff Manaugh</div>
            </div> 
            <div>
                <div>sinatra</div>
                <div>Burgler&rsquo;s Guide to the City</div>
                <div>by Geoff Manaugh</div>
            </div> 
            <div>
                <div>flawless</div>
                <div>Burgler&rsquo;s Guide to the City</div>
                <div>by Geoff Manaugh</div>
            </div> 
        </div>
    </div>
    <div>
        <div>crime films</div>
    </div>
    <div>
        <p>
            When I refer to criminal masterminds, I am alluding to a romaticized sector of criminals whom I
            believe to be creative experts at breaking the rules. In crime films like The Italian Job (2003),
            the audience roots for a crew of criminals planning an intricate revenge heist to steal back gold.
            The stories of Frank Abagnale Jr., as told in Catch Me If You Can (2002), portray an amazing con-man
            and check forger. And it&rsquo;s crazy how the godfathers of Italian mafias or oyabun (bosses) of the
            Japanese Yakuza can run large-scale illegal operations while managing to keep their businesses
            secret from authorities. In The Right Way to Do Wrong, magician Harry Houdini claimed, &ldquo;Some
            of the brightest brains and keenest minds belong to professional criminals. They live by their wits
            and must needs keep those wits sharp and active.&rdquo; It takes high levels of leadership, wisdom, and
            talent to manage large criminal enterprises. As terrifying as they may seem, criminals like these
            deserve praise for their ingenuity.
        </p>
    </div>
    <div>
        <div>branding experiment</div>
        <div>branding experiment</div>
        <div>branding experiment</div>
    </div>
    <div>
        <div>&ldquo;If designers today want to do good, they must first learn how to be bad.&rdquo;</div>
    </div>
    <div>
        <div>headshot gif</div>
        <p>
            Through my journey, I started to argue that criminal masterminds are better at being creative than
            the majority of designers in today&rsquo;s market. They are con artists who persuade victims into
            giving up money and valuables. They are craftsmen and tinkerers who decipher the mechanics of systems
            to break them. They are hackers who write inventive code to go around highly secured firewalls and
            cartel kingpins who can run a business as effectively as CEOs of major corporations. Although criminal
            masterminds have harmful intentions, they are uniquely creative because they engage in risk-taking and
            rule-breaking. In order to achieve critical and strategic design that betters society, designers cannot
            only employ traditional design thinking strategies &mdash; they must also employ a criminal mindset. If
            designers today want to do good, they must first learn how to be bad.
        </p>
        <div>headshot gif</div>
    </div>
    <div>
        <div>system map</div>
    </div>
    <div>
        <div>To see my blogpost on the SVA Products of Design blog, please click here.</div>
    </div>
</div>
