---
layout: default.hbs
---
<div>
    <div>
        <div>Thesis Presentation</div>
        <div>May 6, 2016 SVA Theater</div>
    </div>
    <div>
        <div>vimeo upload presentation with extra</div>
    </div>
    <div>
        <p>
            On May 6th, 2016 at the SVA Theater in Chelsea, I was able to present my thesis to the public with a
            short Q&A at the end.
        </p>
    </div>
</div>
