.gild {
	padding-bottom: 80px;

	&__description {
		margin: 64px auto 39px;
	}

	&__idea {
		margin: 80px auto 36px;
	}

	&__interface {
		margin: 82px auto 86px;
	}

	&__other {
		margin: 79px auto 61px;
	}

	&__ui {
		margin-bottom: 25px;
	}
}
