.header {
	&__container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-end;

		font-size: 14px;
		text-transform: uppercase;

		height: 85px;
		padding-bottom: 25px;
	}

	&__logo-container {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;

		margin: 0 $site-margin;
	}

	&__logo {
		width: 30px;
		padding-right: 28px;
	}

	&__title {
		width: 85px;
	}

	&__links {
		display: flex;
		flex-flow: row nowrap;

		margin: 0 $site-margin;
	}

	&__blog {
		padding-right: 25px;
	}

	&__about {
	}
}
