$large-breakpoint: 1200px + 2 * $site-margin;

.index {
	background: #FFFFFF;
	padding: 22px 0 42px;

	&__row {
		margin: 0 -1 * $box-margin;
		display: flex;
		flex-flow: row wrap;
	}

	&__column--large {
		flex: 2 0 0;
	}

	&__column--small {
		flex: 1 0 0;

		@media (max-width: $large-breakpoint) {
			flex-basis: 100%;
		}
	}

	&__sub-row {
		display: flex;
		flex-flow: row wrap;
	}

	&__other-projects {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		margin: 17px 0 7px;
		width: 100%;

		p {
			background: #FFFFFF;
			margin: 0;
			padding: 0 15px;
			z-index: 1000; // Show white background over horizontal line
		}

		position: relative;
		&::before {
			position: absolute;
			background: #000000;
			content: '';
			width: 100%;
			height: 1px;
			left: 0;
			top: 8px;
		}
	}

	&__eden {
		@extend .box;	
	}

	&__thesis-book {
		@extend .box;	
		flex-grow: 2;
	}

	&__thesis-presentation {
		@extend .box;	

		height: 400px;
	}

	&__masterminds {
		@extend .box;	
	}

	&__crime-tools {
		@extend .box;	
	}

	&__gild {
		@extend .box;	
	}

	&__keyhole-gigantico {
		@extend .box;	

		height: 716px;
	}

	&__thesis-experiments {
		@extend .box;	
	}

	&__parallel-times {
		@extend .box;	
	}

	&__nutshell {
		@extend .box--mini;	
	}

	&__nico {
		@extend .box--mini;	
	}

	&__sound-steps {
		@extend .box--mini;	
	}

	&__fugly-pickles {
		@extend .box--mini;	
	}

	&__flos {
		@extend .box--mini;	
	}
	
	&__ascend {
		@extend .box--mini;	
	}

	&__garden {
		@extend .box--mini;	
	}

	&__eggs {
		@extend .box--mini;	
	}
}
