.thesis-experiments {
	@extend .page;

	&__description {
		margin: 82px auto 72px;
	}

	&__headline {
        padding: 92px 0 18px;
	}

    &__stickers {
        @media (max-width: 1234px) {
            order: -1;
        }
    }
}
